table{
    max-width:347px;
    max-height:447px;
    border: 2px solid black;
    font-size: 1.4rem;
}
td{
    width: 5rem;
    height: 5rem;
    
}
 #output{
    height: 5rem;
    text-align: right;
    font-size: 1.5rem;
    align-items: center;
line-height: 70px;

}
.cal{
    margin-left: 35%;
    margin-bottom: 50%;
    display: grid;

}
td{
    width: 5rem;
    height: 5rem;
}
button{
    font-size: 1.3rem;
    width: 5rem;
    height: 5rem;

}
